.best-value-store {
  border-left: 2px solid #f5e0c5;
}

.crse-solutions {
  border-left: 2px solid #ff6f61;
}

.logo-box {
  padding-left: 20px;
}

.logo-quote {
  opacity: 0.2;
  margin-bottom: 30px;
  transition: all 0.5s linear;
}

.logo-active {
  opacity: 1;
  transition: all 1.5s linear;
}
.quote {
  /* display: none; */
  text-align: left;
  font-size: 18px;
  color: #505f6d;
  font-family: Montserrat, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  line-height: 33px;
  padding: 5px 0 5px 40px;
}

.quote-author {
  font-size: 14px;
  font-family: Montserrat, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: #7d8c9b;
}

.quotes-wrapper {
  max-width: 890px;
  max-height: 300px;
  margin: auto;
}

.sunrise-dietary {
  border-left: 2px solid #9dcaff;
}
