input {
  font-family: Montserrat, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

p {
  margin: 0;
}

#modal-wrapper {
  padding: 10px 14px 0 14px;
}

.mat-dialog-actions {
  margin-bottom: 0;
  padding: 0;
}
.mat-raised-button {
  font-weight: 700;
  letter-spacing: 0.7px;
  padding: 5px 20px;
}

.title {
  background-color: #ff6f61;
  text-align: center;
  padding: 20px;
}

.mat-form-field-appearance-outline {
  margin: 0 0.35em !important;
}
