h1 {
  font-size: 30px;
  font-family: Montserrat;
}

mat-dialog-container {
  padding: 0;
}

#effortless {
  letter-spacing: 4px;
  color: #ffd4d0;
  /* color: #deeeff; */
}

#hero-wrapper {
  background: url("../../../assets/plush-design-studio-733471-unsplash.jpg")
    no-repeat center center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
#hero-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  height: 100%;
}

.mat-icon {
  margin-right: 5px;
}
.mat-raised-button {
  padding: 5px 21.13px;
}

.mat-raised-button,
.mat-stroked-button {
  font-weight: bold;
  letter-spacing: 0.7px;
}

.mat-raised-button.start:hover {
  background-color: #ff5c4f;
}

.mat-raised-button.video:hover {
  background-color: #6a7989;
}
