<mat-card
  class="card"
  [@pulse]="triggerPulse"
  (mouseenter)="triggerPulse = true"
  (mouseleave)="triggerPulse = false"
  fxFlex="300px"
>
  <img class="card-img" src="../../../../../assets/money_bag.svg" alt="image" />
  <h3 class="primary-darkest">{{ feature.title }}</h3>
  <hr />
  <mat-card-content>
    <p class="primary-dark">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed officiis,
      sunt fugit perferendis eius id incidunt dicta. Obcaecati, impedit
      necessitatibus.
    </p>
  </mat-card-content>
</mat-card>
