p {
  line-height: 1.35714;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

hr {
  width: 20%;
  margin-bottom: 20px;
  border: 1px dashed #f0d2ac;
}

.card {
  text-align: center;
  padding: 10px 20px;
}

.card-img {
  max-height: 50px;
  max-width: 50px;
}

.mat-card {
  padding: 20px;
}

.mat-card:hover {
  cursor: pointer;
}
