<mat-sidenav-container cdkScrollable>
  <mat-sidenav role="navigation" #sidenav>
    <mat-nav-list>
      <app-sidenav-list
        *ngFor="let item of navList"
        [item]="item"
        (closeSidebar)="sidenav.close()"
      ></app-sidenav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-header
        [isScrolling]="isScrolling"
        (openSidebar)="sidenav.toggle()"
        (scrollToFeatures)="scrollToFeatures()"
      ></app-header>
    </header>
    <main><router-outlet></router-outlet></main>
    <footer><app-footer></app-footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
