<mat-sidenav-container
  [ngStyle.gt-xs]="{ marginTop: '62px' }"
  [ngStyle.xs]="{ marginTop: '0px' }"
>
  <mat-sidenav role="navigation" #sidenav>
    <mat-nav-list>
      <app-sidenav-list
        *ngFor="let item of navList"
        [item]="item"
        (closeSidebar)="sidenav.close()"
      ></app-sidenav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header><app-header (openSidebar)="sidenav.toggle()"></app-header></header>
    <main class="app-wrapper"><router-outlet></router-outlet></main>
  </mat-sidenav-content>
</mat-sidenav-container>
