mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 400px;
  margin-top: 75px;
}

mat-nav-list {
  padding-top: 0;
}

@media (max-width: 1100px) {
  mat-sidenav {
    width: 450px;
  }
}

@media (max-width: 550px) {
  mat-sidenav {
    width: 250px;
  }
}
