<section class="section1">
  <div class="app-wrapper">
    <h1 class="title primary-darkest">The Way Compliance Should Be Handled.</h1>
    <div fxLayout>
      <div fxFlex="50%" fxLayoutAlign="center">
        <img class="image" src="../../../../assets/digital.png" alt="digital" />
      </div>
      <div fxFlex="50%" fxLayoutAlign="start center">
        <div fxLayout="column" class="column-info">
          <h3>Simple</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            facilis aut harum sunt quidem dolorum placeat unde voluptatem ipsum
            nisi facere, nihil laudantium eos et velit, id vel molestiae
            adipisci.
          </p>
        </div>
      </div>
    </div>
    <div fxLayout class="middle-section">
      <div fxFlex="50%" fxLayoutAlign="end center">
        <div fxLayout="column" class="column-info">
          <h3>Affordable</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque et
            nemo id aperiam corporis, voluptatum, magni incidunt maxime
            laboriosam ipsum distinctio est velit? Quo similique perspiciatis
            assumenda harum sapiente sint?
          </p>
        </div>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center">
        <img class="image" src="../../../../assets/digital.png" alt="digital" />
      </div>
    </div>
    <div fxLayout>
      <div fxFlex="50%" fxLayoutAlign="center">
        <img class="image" src="../../../../assets/digital.png" alt="digital" />
      </div>
      <div fxFlex="50%" fxLayoutAlign="start center">
        <div fxLayout="column" class="column-info">
          <h3>Revolutionary</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            asperiores nemo delectus! Perspiciatis, odio rem minus expedita
            magni repellat cumque quod consectetur aut nesciunt nemo, earum
            voluptatem dolor, velit optio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
