h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6aaeff;
}

p {
  line-height: 1.35714;
  color: #505f6d;
}

.column-info {
  max-width: 500px;
}

.image {
  max-height: 250px;
  max-width: 250px;
}

.section1 {
  background-color: white;
  width: 100%;
}

.middle-section {
  margin: 25px 0;
}

.title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 30px;
  font-family: Montserrat, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
