<mat-toolbar class="nav-bar" [ngClass.lt-sm]="{ 'nav-xs': true }">
  <div class="hamburger-wrapper">
    <button mat-icon-button #menu (click)="onOpenSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxHide.gt-xs class="spacer"></div>
  <div class="responsive-logo">
    <a routerLink="/" class="nav-logo">efortles</a>
  </div>
  <div
    [ngClass.gt-md]="{
      'responsive-nav-gt-md': true
    }"
    [ngClass.lt-lg]="{ 'responsive-nav-md': true }"
    fxHide.xs
  >
    <ul
      class="nav-list"
      fxLayoutGap="30px"
      fxLayoutAlign="start"
      style="position: absolute"
    >
      <li><a routerlink="">Features</a></li>
      <li><a routerlink="">Resources</a></li>
      <li><a routerlink="">Our Company</a></li>
      <li><a routerlink="">Blog</a></li>
    </ul>
    <ul class="nav-list" fxLayoutGap="30px" fxLayoutAlign="flex-end">
      <li><a routerLink="">Login</a></li>
      <li>
        <button
          mat-raised-button
          color="accent"
          (click)="onOpenForm()"
          class="white-text"
        >
          Schedule a Demo
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
