<mat-toolbar
  class="nav-bar"
  [ngStyle.lt-sm]="{ padding: '0' }"
  [ngClass]="{ 'toolbar-scrolling': isScrolling }"
>
  <div class="hamburger-wrapper">
    <button mat-icon-button #menu (click)="onOpenSidebar()">
      <mat-icon [ngStyle]="{ color: isScrolling ? '#505f6d' : 'white' }"
        >menu</mat-icon
      >
    </button>
  </div>
  <div fxHide.gt-xs class="spacer"></div>
  <div class="responsive-logo">
    <a
      routerLink="/"
      class="nav-logo"
      [ngClass]="{ 'accent-primary': isScrolling }"
      >efortles</a
    >
  </div>
  <div
    [ngClass.gt-md]="{
      'responsive-nav-gt-md': true
    }"
    [ngClass.lt-lg]="{ 'responsive-nav-md': true }"
    fxHide.xs
  >
    <ul
      class="nav-list"
      fxLayoutGap="30px"
      fxLayoutAlign="start"
      style="position: absolute"
    >
      <li><a routerlink="">Features</a></li>
      <li><a routerlink="">Resources</a></li>
      <li><a routerlink="">Our Company</a></li>
      <li><a routerlink="">Blog</a></li>
    </ul>
    <ul class="nav-list" fxLayoutGap="30px" fxLayoutAlign="flex-end">
      <li>
        <a
          routerLink=""
          [ngStyle]="{ color: isScrolling ? '#505f6d' : 'white' }"
          ><button mat-stroked-button>Login</button></a
        >
      </li>
      <li>
        <button
          mat-raised-button
          color="accent"
          (click)="onOpenForm()"
          class="white-text"
        >
          Schedule a Demo
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
