mat-icon {
  font-size: 30px;
  color: white;
}

mat-toolbar {
  height: 75px;
  padding: 0 6.7em;
  background-color: rgba(125, 140, 155, 0.2);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgrey;
  cursor: pointer;
}

.active-link,
.active-link:active,
.active-link:focus {
  color: lightgrey;
}

/* .nav-list li:hover > .dropdown-menu {
  display: inherit;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  top: 50px;
  padding: 10px;
  overflow: hidden;
} */

.hamburger-wrapper {
  text-align: center;
  width: 20%;
}

.mat-raised-button {
  font-weight: 600;
}

button:hover {
  color: dodgerblue;
}

.nav-bar {
  position: fixed;
  z-index: 998;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
}

.nav-logo {
  margin-right: 30px;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: bold;
}

.nav-xs {
  padding: 0;
}

.responsive-nav-gt-md {
  margin: 0 auto;
  min-width: 0px;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 1200px;
}

.responsive-nav-md {
  flex: 1 1 100%;
  box-sizing: border-box;
}

@media (min-width: 1101px) {
  .hamburger-wrapper {
    display: none;
  }
}

@media (max-width: 1100px) {
  .responsive-nav-md {
    display: none;
  }
  .responsive-logo {
    flex: 1 1 100%;
    text-align: center;
  }
  .nav-logo {
    margin: auto;
  }
  mat-toolbar {
    padding-left: 0;
  }
}
@media (max-width: 740px) {
  mat-toolbar {
    padding-right: 4.5em;
  }
}

@media (max-width: 599px) {
  .responsive-logo {
    text-align: end;
    padding-right: 20px;
  }
  .hamburger-wrapper {
    padding-left: 20px;
  }
}

.spacer {
  width: 200px;
}
