/*
500: primary colorway
50: Material's suggested light color
900: Material's suggested dark color
*/

$md-greybluedark: (
  50: #acbccc,
  100: #d8dde1,
  200: #bec6cd,
  300: #a4afb9,
  400: #919daa,
  500: #7d8c9b,
  600: #758493,
  700: #6a7989,
  800: #606f7f,
  900: #505f6d,
  A100: #d0e5ff,
  A200: #9dcaff,
  A400: #6aaeff,
  A700: #51a0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-cloudblue: (
  50: #f9fafd,
  100: #f0f4f9,
  200: #e6ecf6,
  300: #dbe4f2,
  400: #d4dfef,
  500: #ccd9ec,
  600: #c7d5ea,
  700: #c0cfe7,
  800: #b9cae4,
  900: #9ba8ba,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-greybluelight: (
  50: #deeeff,
  100: #e6ebf0,
  200: #d6dee6,
  300: #c5d0db,
  400: #b8c6d4,
  500: #acbccc,
  600: #a5b6c7,
  700: #9badc0,
  800: #92a5b9,
  900: #7d8c9b,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d4e8ff,
  A700: #badaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-coral: (
  50: #ffa18f,
  100: #ffd4d0,
  200: #ffb7b0,
  300: #ff9a90,
  400: #ff8579,
  500: #ff6f61,
  600: #ff6759,
  700: #ff5c4f,
  800: #ff5245,
  900: #c63d37,
  A100: #ffa18f,
  A200: #ff6f61,
  A400: #c63d37,
  A700: #ffc8c4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-sand: (
  50: #ffffde,
  100: #fbf2e6,
  200: #f8e9d6,
  300: #f5e0c5,
  400: #f2d9b8,
  500: #f0d2ac,
  600: #eecda5,
  700: #ecc79b,
  800: #e9c192,
  900: #bda17d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff7ef,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
