/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.app-wrapper {
  padding: 100px 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .app-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .app-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .app-wrapper {
    width: 1170px;
  }
}

.accent-darker {
  color: #c63d37 !important;
}
.accent-primary {
  color: #ff6f61 !important;
}

.accent-primary-bold {
  font-weight: bold !important;
  color: #ff6f61 !important;
}

.form-modal .mat-dialog-container {
  padding: 0 0 24px 0;
}

.primary {
  color: #7d8c9b;
}

.primary-dark {
  color: #505f6d;
}

.primary-darkest {
  color: #293742;
}

.white-text {
  color: white !important;
}
